*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.navbar{
    display: flex;
    flex-direction: row;
    height: 16vh;
    background: url(./images/835871.jpg);
    background-size: cover;
    background-position: center;
}

.list_navbar{
    width: 25%;
    margin-top: 2%;
    display: flex; 
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

.title_navbar{
    text-align: center;
}

.title_and_logo{
    margin-top: 2%;
    margin-left: 13%;
    display: flex;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
}

.list_home, .list_gallery, .list_about{
    cursor: pointer;
    border: 2px solid rgb(245, 202, 9);
    background-color: black;
    color: rgb(245, 202, 9);
    width: 100%;
    text-align: center;
    padding: 7px 15px;
    border-radius: 7px;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
}

.list_home:hover, .list_gallery:hover, .list_about:hover{
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

a:link{
    text-decoration: none;
    color: black;
}

a:link:hover{
    color: rgb(245, 202, 9);
}
